/** Main CSS file **/

/** WIP CSS Code **/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #333;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 1em 0;
}

#section-1 h3 {
  padding: 1em 0 0 0;
  margin: 0;
  font-size: 2em;
}

p {
  margin: 0;
  padding: 1em 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: auto;
}

.logo-main {
  height: 100px;
  width: auto;
  margin: auto;
  padding-top: 5%;
}

.content-wrap {

}

.card-wide {
  width: 100%;
  margin: auto;
  padding-bottom: 1.5em;
  border-bottom: 2px solid #202f3b;
}

.card-wide-content {
  padding: 0 1.5em;
}

#home-hero-section {
  min-height: 550px;
  color: #30ffbb;
  text-align: center;
}

#home-hero-section .bg-img {
  position: absolute;
  background-image: url('../img/hero-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  z-index: -1;
}

#section-1 {
  padding: 0;
  background-color: #30ffbb;
  color: #202f3b;
}

.card {
  border-bottom: 2px solid #202f3b;
}

.card-content {
  width: 100%;
}

.portfolio-work-list {
  padding-bottom: 4px;
}

.portfolio-list-item {
  font-size: .8em;
  display: inline-block;
  padding: 1px 3px 1px 3px;
  margin: 2px 0 2px 0;
  border: solid 1px #333;
  border-radius: 30px;
}
