/** Main CSS file **/

/** WIP CSS Code **/

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: #fff;
  color: #333;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

h1, h2 {
  margin: 0;
  padding: 1em 0;
}

.nav-item a {
  text-decoration: none;
  color: #30ffbb;
}

#section-1 h3 {
  padding: 1em 0 0 0;
  margin: 0;
  font-size: 2em;
}

p {
  margin: 0;
  padding: 1em 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: auto;
}

.logo-main {
  height: 100px;
  width: auto;
  margin: auto;
  padding-top: 5%;
}

.card-wide {
  width: 100%;
  margin: auto;
  padding-bottom: 1.5em;
  border-bottom: 2px solid #202f3b;
}

.card-wide-content {
  padding: 0 1.5em;
}

#home-hero-section {
  min-height: 550px;
  color: #30ffbb;
  text-align: center;
}

#home-hero-section .bg-img {
  position: absolute;
  background-image: url('../img/hero-image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  z-index: -1;
}

#section-1 {
  padding: 0;
  background-color: #30ffbb;
  color: #202f3b;
}

#section-2 {
  background-color: #202f3b;
}

#portfolio-heading {
  color: #30ffbb;
}

#section-2 li {
  background: #fff;
}

.card {
  height: auto;
}

.card-content {
  display: none;
  width: 100%;
  border-top: solid 1px #202f3b;
}

.portfolio-work-list {
  padding-bottom: 4px;
  padding-top: 4px;
}

.portfolio-list-item {
  font-size: .8em;
  color: #202f3b;
  display: inline-block;
  padding: 1px 3px 1px 3px;
  margin: 2px 0 2px 0;
  border: solid 1px #202f3b;
  border-radius: 30px;
}

#section-3 {
  padding: 0;
}

.slider {
  width: auto;
  margin: auto;
  position: relative;
}

.slider-item {
  width: 100%;
  height: auto;
  margin: auto;
}

.icon {
  width: auto;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}

#section-4 .box {
  padding: 1em 2em 2em 2em;
}

#section-4 .box:first-child {
  background: #202f3b;
  color: #30ffbb;
}

#section-4 .box:nth-child(2) {
  background: #30ffbb;
  color: #202f3b;
}

form {
  margin: 0 auto;
  width: 100%;
}

label {
  display: block;
}

input, textarea {
  width: 100%;
  margin-bottom: 1em;
  border: solid 1px #30ffbb;
}

input {
  height: 2em;
}

textarea {
  height: 4em;
}

.submit-button button {
  padding: 1em 5em;
  margin: 1em 0 2.5em 0;
  background-color: #30ffbb;
  border: none;
}

#profile-pic {
  margin: auto;
  width:75%;
  height: auto;
  border-radius: 50%;
}

.social-icons a {
  width: 20%;
  margin: 0 .5em;
  display: inline-block;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 14px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/** Layout for Desktop screens **/
@media (min-width: 736px) {

  #home-hero-section .bg-img {
    position: absolute;
    background-image: url('../img/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
    z-index: -1;
  }

  #section-1 {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  }

  #section-1 img {
    display: block;
    height: 12em;
    width: auto;
    margin: auto;
  }

  #section-1 ul {
    display: flex;
    justify-content: space-around;
  }

  #section-1 li {
    padding: 0 9em;
  }

.card-wide {
    columns: 1;
    column-gap: 2em;
    border-bottom: none;
  }

  #section-1 li:first-child, #section-1 li:nth-child(2) {
    border-right: solid 2px #202f3b;
  }
}
